{% extends 'layout.html.twig' %}

{% block content %}
    <a id="back" href="{{ path('team_list') }}">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M579-480 285-774q-15-15-14.5-35.5T286-845q15-15 35.5-15t35.5 15l307 308q12 12 18 27t6 30q0 15-6 30t-18 27L356-115q-15 15-35 14.5T286-116q-15-15-15-35.5t15-35.5l293-293Z"/></svg> 
        Zurück 
    </a>
    <div id="detail-header">
        <div>
            <h1>{{ team.name }}</h1>
            <p>{{ team.description }}</p>
        </div>
        {% include "team/_logo.html.twig" with { 'team': team } %}
    </div>
    <div class="detail">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M580-240q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-40q0-17 11.5-28.5T280-880q17 0 28.5 11.5T320-840v40h320v-40q0-17 11.5-28.5T680-880q17 0 28.5 11.5T720-840v40h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>
        <p>
            seit {{ team.founded }}
        </p>
    </div>
    <div class="detail">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M480-186q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 79q-14 0-28-5t-25-15q-65-60-115-117t-83.5-110.5q-33.5-53.5-51-103T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 45-17.5 94.5t-51 103Q698-301 648-244T533-127q-11 10-25 15t-28 5Zm0-453Zm0 80q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Z"/></svg>
        <p> 
            {{ team.location }} (Lat: {{ team.coordinates.latitude }}, Lon: {{ team.coordinates.longitude }})
        </p>
    </div>
    <h2>Spieler</h2>
    <p>Trainer: {{ team.trainer }} </p>
    <ul>
        {% for player in players %}
            <li id="player">
                <div>
                    <h3>
                         {{ player.firstName }} {{ player.lastName }} ({{ date(player.birthday).diff(date('now')).y }} Jahre)
                    </h3>
                    <p>Number: {{ player.number }}</p>
                    <p>Position: {{ player.position }}</p>
                </div>
            </li>
        {% else %}
            <p>Keine Spieler gefunden!</p>
        {% endfor %}
    </ul>
{% endblock %}
