{% extends 'layout.html.twig' %}

{% block content %}
    <a id="back" href="{{ path('team_list') }}">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M579-480 285-774q-15-15-14.5-35.5T286-845q15-15 35.5-15t35.5 15l307 308q12 12 18 27t6 30q0 15-6 30t-18 27L356-115q-15 15-35 14.5T286-116q-15-15-15-35.5t15-35.5l293-293Z"/></svg> 
        Zurück 
    </a>
    <h1>{{ team.name }}</h1>
    <p>{{ team.description }}</p>
    <h2>Spieler</h2>
    <p>Trainer: {{ team.trainer }} </p>
    <ul>
        {% for player in players %}
            <li id="player">
                <div>
                    <h3>
                         {{ player.firstName }} {{ player.secondName }} ({{ date(player.birthday).diff(date('now')).y }} Jahre)
                    </h3>
                    <p>Number: {{ player.number }}</p>
                    <p>Position: {{ player.position }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
        
{% endblock %}
